$a: 'a, a:link, a:visited';
$hover: '&:hover, &:focus';

$fonts-main: 'Cabin', sans-serif;
$fonts-head: 'Cabin', sans-serif;
$fonts-icon: 'ETmodules';

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$headings: 'h1, h2, h3, h4, h5, h6';
