.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

* {
	box-sizing: border-box;
	word-wrap: normal !important;
}

body {
	line-height: 1.3;
	font-family: $fonts-main;
	background-color: $body-color;
	color: $color-text;
	@include font-size(16px);
  -moz-osx-font-smoothing: graysåcale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body .site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body .site-content{
  flex: 1;
  overflow-x: hidden;
}

// Default styling for non-pagebuilder pages/items
.site-content {
  //padding:180px 0px 50px 0px;
}
