// Overlay
@mixin overlay($bgc: null) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $bgc;
}

// Positioning
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin centerposition() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@mixin center($maxwidth: null) {
  margin-left: auto;
  margin-right: auto;
  max-width: $maxwidth;
}

// Transition
@mixin transition($duration: 0.2s) {
  transition: all $duration ease-out;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

// Button styling
@mixin button($bg-color: $color-main, $bg-hover: $color-third, $text-color:#000, $text-hover:#333, $radius: 10px) {
  background-color: #{$bg-color};
  color: #{$text-color};
  border-radius: #{$radius};
  padding: 0.6em 1em;
  line-height: 1;
  border: 1px solid $color-main;
  font-weight: 600;
  display: inline-block;
  @include font-size(16px);

  &:after {
    content: none !important;
  }

  #{$hover} {
    background-color: #{$bg-hover};
    color: #{$text-hover};
  }

}

// Output rem with a px fallback
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}


// HEADINGS
@mixin h1() {
  @include font-size(38px);
  font-weight: 400;
  text-transform: uppercase;

  @media only screen and (max-width: 980px) {
    @include font-size(36px);
  }
  @media only screen and (max-width: 767px) {
    @include font-size(32px);
  }
  @media only screen and (max-width: 480px) {
    @include font-size(28px);
  }
}

@mixin h2() {
  @include font-size(32px);
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 15px;

  @media only screen and (max-width: 980px) {
    font-size: 36px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 32px;
  }
  @media only screen and (max-width: 480px) {
    font-size: 28px;
  }

}
@mixin h3() {
  @include font-size(26px);
  font-weight: 300;
  text-transform: none;
  margin-bottom: 0.5em;

  @media only screen and (max-width: 767px) {
    font-size: 22px;
  }

}
@mixin h4() {
  @include font-size(20px);
  font-weight: 500;
}

@mixin h5() {
  @include font-size(16px);
  text-transform: uppercase;
}

@mixin paragraph() {
  @include font-size(16px);
  font-weight: 300;
  color: $color-p;
}

@each $borderpos in top, right, bottom, left {
  .border-#{$borderpos} {
    border-#{$borderpos}: $border !important;
  }
}

@each $paddingpos in top, right, bottom, left {
  .no-padding-#{$paddingpos} {
    padding-#{$paddingpos}: 0 !important;
  }
}
.no-padding {
  padding: 0 !important;
}

@each $marginpos in top, right, bottom, left {
  .no-margin-#{$marginpos} {
    margin-#{$marginpos}: 0 !important;
  }
}
