.btn,
body button,
body.et_divi_builder #et_builder_outer_content .et_pb_section .et_pb_button {
	@include button($orange, $orange-hover, $color-main, $color-main, 5px);
	@include transition(0.3s);

  transition: background 1s ease-out;

	cursor: pointer;
	margin: 0.5em 0;
	padding: 0.8em 1.2em;
	border: none;
	font-weight: 300;
	text-transform: uppercase;
	background: linear-gradient(#ff7d02, #f76c22);

	#{$hover} {
		background: linear-gradient(darken(#ff7d02, 5%), darken(#f76c22, 5%));
	}

	// &.et_pb_bg_layout_dark {
	// 	color: white;
	// 	background-color: $color-main;

	// 	#{$hover} {
	// 		background-color: transparent;
	// 		color: $color-main;
	// 	}
	// }
	//
	+ .et_pb_button {
		margin-left: 10px;
	}
}
