input:not([type="submit"]),
select,
textarea {
	padding: 1em;
	border: 1px solid white;
	border-radius: 0;
	appearance: none;
	background-color: transparent;
	@include font-size(18px);
	color: $color-main;

	&:focus {
		outline: none;
		border-color: $color-main;
	}
}

input[type="submit"] {
	cursor: pointer;
	@include transition;
}

// Show only on Chrome & Safari
@media screen and (-webkit-min-device-pixel-ratio:0) {
	select {
		background-image: url('images/icons/icon-arrow.svg');
		background-position: center right;
		background-repeat: no-repeat;
		background-size: 24px;
	}

}