header {
	-webkit-transition: all 0.4s ease-out;
 	-moz-transition: all 0.4s ease-out;
 	transition: all 0.4s ease-out;
	@include position(fixed,0,0,auto,0);
	@include font-size(20px);

	background-color: $header-color;


	.bottom-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 35px;
		margin: 0 auto;
		max-width: $content-max-width;

		@media screen and (max-width: 1300px) {
			padding: 15px 1%;
		}

		-webkit-transition: all 0.4s ease-out;
	 	-moz-transition: all 0.4s ease-out;
	 	transition: all 0.4s ease-out;
		li > a {
			padding: 7px 5px;
			@include font-size(13.5px);
			text-transform: uppercase;
			font-weight: 500;
		}

		li:last-child {
			a { color: $color-third; }
			&:hover {
				a { color: $orange-hover; }
			}
		}


		.search-submit{
		  display: none;
		}

		@media only screen and (min-width: 1000px) {
			label {
			  position: relative;
				margin-right: 55px;
			}

			.screen-reader-text:before {
				font-family: FontAwesome;
			  content: '\f002';
			  display: inline-block;
			  display: block;
			  width: 26px;
			  height: 26px;
			  top: 0;
				color: #FFF;
			  left: 0;
			  padding: 0 5px;
			}

			.screen-reader-text {
				width: 26px;
				height: 26px;
				clip: initial;
			}

			.search-field{
				height: 35px;
				padding: 3px 5px 3px 23px;
				font-weight: 400;
				position: fixed;
				top: 131px;
				margin-left: 60px;
				background: #000;
				display: none;
				z-index: 999 !important;
			}
		}
		@media only screen and (max-width: 999px) {
			.search-form {
			  display: none;
			}
		}


		// Styling WPML language selector
		#lang_sel {
			height: inherit;

			a, a:visited {
				font-size: 13px;
				color: $color-third;
				background: transparent;
				border: 1px solid #797979;
				line-height: 1;
				font-weight: 500;
			}
		}


		.sub-menu:before {
		    content: 'B';
		    font-family: "ETmodules";
		    font-size: 46px;
		    color: rgba($color-secondary, 0.5);
		    top: -12px;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		    position: absolute;
		    text-align: center;
		}

		img {
			width: 8em;
			padding: 5px 5px;
			margin-top: 3px;

		}
	}

	#reminder {
		align-self: center;
		color: white;
	}

	a {
		font-weight: 400;
		display: inline-block;
		color: $header-link-color;

		#{$hover} {
			color: $header-link-hover;
		}
	}
	.logo-link {
		height: 70px;
		width: 200px;
		max-width: 20%;
	}
	img {
		display: block;
		width: 320px;
		height: auto;
	}

	ul {
		margin: 0;
		padding: 0;

		> li {
			display: inline-block;
			vertical-align: middle;
			margin: 0 0 0 0.8em;
			@media screen and (max-width: 1300px) {
				margin: 0 0 0 0.5em;
			}

		}
	}
	#nav-menu > li {
		height: 30px;
		> ul.sub-menu > li {
    	background: rgba($color-secondary, 0.5);

    	&:first-child a {
    		padding-top: 20px;
    	}
    	&:last-child a {
    		padding-bottom: 20px;
    	}
    }
  }
	li {
		list-style: none;
	}

	> li {

	}

	.menu-item-has-children {
		height: 30px;
		a {
		display: block;
		}
		&:nth-child(2){

		}
	}

  @media screen and (max-width: 999px) {
		.sub-menu {
			display: none;
		}
	}

	// Desktop only
	@media screen and (min-width: 768px) {

		nav.main-navigation {
			width: 100%;
			margin: 0 auto;
			text-align: center;
			display: flex;
			justify-content: flex-end;
		}

		.menu-header-menu-container {
			flex: 2;
		}


	  &> ul > li > a {
	    margin-left: 0;
	  }

		nav .sub-menu {
		}

	  /* Sub Menus */
	  li ul {
	    position: absolute;
	    display: none;
	    width: inherit;
			text-align: center;
			padding-right: 10px;
	  }

	  li:hover ul {
	    display: block;
	  }

	  li ul li {
	    display: block;
			margin: 0;
			padding: 0 30px;

			&:not(:first-child) a {
				border-top: 1px solid rgba(#FFF, 0.3);
			}

			a {
				display: block;
				color: $color-p !important;

				#{$hover} {
					color: #fff !important;
				}
			}
	  }

		li > ul {
		  list-style: none;
		  padding: 22px 0 15px;
		  margin: 0 0 0 -74px;
		}

		.menu-item-has-children {
			&:nth-child(2){
				.sub-menu {
					margin-left: -164px;
				}
			}
		}

		.menu-item-has-children:after {
			padding-left: 5px;
			content: '';
			color: #fff;
			display: inline-block;
			white-space: pre;
			transform: rotate(90deg);
		}
	}


	.current-menu-item > a {
		color: $header-link-hover !important;
	}

	.menu-item-has-children.current-menu-item:after{
		color: $header-link-hover;
	}

	z-index: 999 !important;
}
