// Hero image block
.hero-banner{
  padding: 0;
  width: 100%;
  height: 450px;
  overflow: hidden;
  display: block;

  background-size: cover;
	background-position: center;
	background-color: $color-main;
	background-blend-mode: multiply;
	position: relative;
  background-position-y: 16%;


  * {
    box-sizing:border-box;;
  }

  *:after, *:before {
    box-sizing:border-box;;
  }

  .small-info {
      color: #FFFFFF;
      top: 55%;
      position: absolute;
      text-align: center;
      width: 100%;
      z-index: 2;
      p {
        max-width: 700px;
        margin: 0 auto;
        @media only screen and (max-width: 480px) {
          display: none;
        }
      }
  }

  $scanLineWidth: 1px;

  .scanLines {
    height: 100%;
    /*** WEBKIT ***/
    background: -webkit-repeating-linear-gradient(
      top,
      transparent 0px,
      transparent $scanLineWidth,
      rgba(0,0,0,0.25) $scanLineWidth,
      rgba(0,0,0,0.25) $scanLineWidth*2
    );
    -webkit-background-size: 100% $scanLineWidth*2;
    /** MOZILLA **/
    background: -moz-repeating-linear-gradient(
      top,
      transparent 0px,
      transparent $scanLineWidth,
      rgba(0,0,0,0.25) $scanLineWidth,
      rgba(0,0,0,0.25) $scanLineWidth*2
    );
    -moz-background-size: 100% $scanLineWidth*2;
  }

  // Small Desktop
  @media only screen and (min-width: 768px) and (max-width: 1035px) {
    height: 450px;
  }

  // Tablets
  @media only screen and (max-width: 768px) {
    height: 350px;
  }

  // Mobile
  @media only screen and (max-width: 480px) {
    height: 275px;
  }
}

.hero-sub-banner {
  background: #333333;

  .sub-text {
    padding: 20px 35px;
    max-width: $content-max-width;
    margin: 0 auto;
  }

  h1 {
    color: $orange;
  }
}


.sub-herobanner {
  background: #333333;
  margin-top:100px;

  &.no-margin {
    margin-top: 0;
  }

  .et_pb_row {
    padding: 20px 35px;
    max-width: $content-max-width;
    margin: 0 auto;
    display: flex;
  }

  .et_pb_column {
    flex: 1 0 auto;

    &:last-child {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  ul {
    text-align: right;
    list-style: none;
    & > li {
      display: inline-block;
      margin-right: .8em;
    }
  }

  a {
    @include font-size(12px);
    font-weight: 400;
    color: $color-main;
  }

  h1 {
    color: $orange;
  }

  @media only screen and (max-width: 999px) {
    margin-top: 70px;
  }

  @media only screen and (max-width: 768px) {
    .et_pb_row {
      flex-wrap: wrap;
    }

    .et_pb_column {
      text-align: center;
      min-width: 400px;

      &:last-child {
        margin-top: .5em;
        justify-content: center;
      }
    }
  }

  @media only screen and (max-width: 450px) {
    .et_pb_column {
      min-width: 250px;
    }

    ul {
      text-align: center;
      & > li {
        width: 100%;
      }
    }

  }
}
